th,td{
    border: 1px solid rgb(0, 0, 0);
}
table{
    border-collapse:collapse;
    border-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/405/713/small/floral-hand-drawn-frame-border-decorative-design-element-free-vector.jpg");
}
.border-img{
    height: 500px;
    width: 500px;
    border: 10px solid transparent;
    padding: 10px;
    border-image: url("border.jpg");
    border-image-slice:auto;
    border-image-width: 1;
    border-image-outset: 10px;
    border-image-repeat:stretch;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-left: 20px;
}
ul li a{
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    background: #999;
    border-radius: 10px;
}
.nav > ul > li {
    position: relative;
}
nav > ul > li > ul{
    display: none;
    position: absolute;
    width: auto;
}
nav > ul > li:hover > ul {
    display: block;
}